 /*
Colours:
Black text: #040b17
Background grey: #293238
Dark blue: #11204a
Green: #1de9b6
Grey-ish: #DDDDDD
White-ish; text: #eeedec
*/

@import "imports/typography.css";
@import "imports/desktop_global.css";

/*
  -- BIG GRID --
*/
header {
  grid-area: header;
  background: var(--light-grey);
}

nav {
  grid-area: nav;
  background: var(--white);
}

main {
  grid-area: main;
  background: var(--background-grey);
}

footer {
  grid-area: footer;
  background: var(--light-grey);
}

body {
  display: grid;
  grid-template-areas:
  'header'
  'nav'
  'main'
  'footer';
  margin: 0px;
}

/*
  -- MAIN --
*/
.main-content {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  column-gap: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
}

/*left side*/
.main-left {
  display: grid;
  max-width: 850px;
  grid-template-rows: repeat(3, auto) 1fr;
}

.main-content a, .fa-times-circle {
  color: var(--white);
}

.page-title {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
}

.page-title p, .tags {
  font-size: 0.9em;
  font-style: italic;
  opacity: 70%;
}

.item-price-line {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 60px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.item-price-line *, .page-title * {
  margin: 5px 0px;
}

.product {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 20px;
  margin-top: 20px;
}

.product img {
  max-width: 200px;
}

.product a {
  font-size: 1.3em;
  font-weight: 600;
}

.tags {
  font-style: normal;
  margin-top: 5px;
}

.price-remove {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 90px;
}

.price-remove *, .payment-total *, .payment-total div {
  margin: 0px;
}

/*right side*/
.right-side {
  margin-top: 70px;
}

.payment-total {
  display: grid;
  grid-template-rows: repeat(5, auto);
  color: #040b17;
  background-color: var(--light-grey);
  border: 2px solid;
  border-radius: 6px;
  border-color: var(--green);
  padding: 10px 20px;
}

h2 {
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 20px;
}

h3 {
  font-size: 1em;
}

.payment-total div {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: center;
  margin-top: 10px;
}

.sum {
  padding: 20px 0px;
}

.fa-pen {
  font-size: 0.8em;
}

 .right-side .purchase {
  color: var(--black-text);
  justify-self: center;
  margin-top: 25px;
}

@media only screen and (max-width: 1300px) {
  .main-content {
    grid-template-columns: 1fr 0.4fr;
    gap: 50px;
  }

  .product a {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1120px) {
  .main-content {
    margin-left: 40px;
    margin-right: 40px;
  }

  .product img {
    max-width: 150px;
  }

  .product a {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 501px) and (max-width: 900px) {
  .product img, .product div:first-of-type p {
    display: none;
  }

  .main-content {
    grid-template-columns: 1fr;
  }

  .item-price-line {
    gap: 10px;
  }

  .product {
    grid-template-columns: 1fr auto auto;
  }

  .product a {
    font-size: 1.1em;
  }

  .price-remove {
    gap: 20px;
    justify-items: center;
  }

  .right-side {
    margin: 0px;
    justify-self: center;
  }

  .right-side h3 {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .product img, .product div:first-of-type p {
    display: none;
  }

  .main-content {
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
  }

  .item-price-line {
    gap: 10px;
  }

  .product {
    grid-template-columns: 1fr auto auto;
  }

  .price-remove {
    gap: 20px;
    justify-items: center;
  }

  .right-side {
    margin: 0px;
    justify-self: center;
  }

  .right-side h3 {
    margin-right: 60px;
  }
}
