/*
Colours:
Black text: #040b17
Background grey: #293238
Dark blue: #11204a
Green: #1de9b6
Grey-ish: #dddddd
White-ish; text: #eeedec
*/

@import "imports/typography.css";
@import "imports/desktop_global.css";

/*
  -- BIG GRID --
*/
header {
  grid-area: header;
  background: #DDDDDD;
}

nav {
  grid-area: nav;
  background: #eeedec;
}

main {
  grid-area: main;
  background: #293238
}

footer {
  grid-area: footer;
  background: #DDDDDD;
}

body {
  display: grid;
  grid-template-areas:
  'header'
  'nav'
  'main'
  'footer';
  margin: 0px;
}

/*
  -- MAIN --
*/
.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
  margin: 20px 100px 50px 100px;
  row-gap: 50px;
}

h1 {
  grid-column: 1/-1;
  justify-self: start;
  margin: 0px;
}

.main-content .fas,
.main-content .fab {
  font-size: 6em;
  background-color: var(--light-grey);
  color: var(--dark-blue);
  border: 2px solid;
  border-color: var(--green);
  border-radius: 6px;;
  padding: 20px;
}

.chat p, .email p, .facebook p {
  margin: 0px;
  line-height: 1.3em;
  max-width: 220px;
}

.chat p:last-child,
.email p:nth-child(3),
.facebook p:nth-child(3) {
  margin-bottom: 15px;
  font-style: italic;
  text-decoration: underline;
}

.chat p:last-child {
  margin-top: 15px 0px 0px 0px;
}

/*
  -- MEDIUM/LARGE SCREEN
*/
@media only screen and (min-width: 901px) and (max-width: 1100px) {
  .top-header, .footer-content {
    margin: 0px 40px;
  }

  .main-content {
    row-gap: 20px;
    margin: 10px 30px 40px 30px;
  }

  .chat p, .email p, .facebook p {
    max-width: 200px;
  }

  .footer-content {
    margin-top: 10px;
  }
}

/*
  -- MEDIUM SCREEN --
*/
@media only screen and (min-width: 501px) and (max-width: 900px) {
  .main-content {
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin: 20px 40px 40px 40px;
  }

  .chat, .email, .facebook {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 30px;
    text-align: left;
    column-gap: 30px;
  }

  h2 {
    margin: 0px 0px 10px 0px;
  }
}

/*
  -- SMALL SCREEN --
*/
@media only screen and (max-width: 500px) {
  .main-content {
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin: 20px 30px;
  }

  h2 {
    margin-bottom: 10px;
  }

  .main-content .fas, .main-content .fab {
    font-size: 4em;
  }
}