/*
Colours:
Black text: #040b17
Background grey: #293238
Dark blue: #11204a
Green: #1de9b6
Grey-ish: #DDDDDD
White-ish; text: #eeedec
*/

/*big grid*/
header {
  grid-area: header;
  background: #DDDDDD
}

nav {
  grid-area: nav;
  background: #eeedec;
}

main {
  grid-area: main;
  background: #293238
}

footer {
  grid-area: footer;
  background: #DDDDDD
}

body {
  display: grid;
  grid-template-areas:
  'header'
  'nav'
  'main'
  'footer';
  font-family: "Montserrat", "verdana", sans-serif;
  margin: 0px;
  color: #eeedec;
}

header, footer {
  color: #040b17;
}

a {
  text-decoration: none;
  color:#040b17;
}

/*header*/
.top-header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 10px;
  gap: 10px;
  align-items: center;
}

.header-content a{
  margin-left: 15px;
}

.logo {
  width: 140px;
  margin-top: 5px;
}

.cart-icon, .profile-icon {
  color: #11204a;
  margin: 0px, 5px;
}

/*nav*/
nav {
  padding: 2px 0px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0px 20px;
  list-style-type: none;
}

/*search bar*/
.search {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 30px 0px;
}

.search-icon {
  color: #eeedec;
  margin-left: 15px;
}

.search-bar {
  width: 300px;
  height: 35px;
  font-size: 1.2em;
  border: none;
  border-radius: 40px;
  font-style: italic;
  padding-left: 5px;
}

textarea:focus, input:focus{
  outline: none;
}