/*
Colours:
Black text: #040b17
Background grey: #293238
Dark blue: #11204a
Green: #1de9b6
Grey-ish: #DDDDDD
White-ish; text: #eeedec
*/

@import "imports/typography.css";

/*
  -- BIG GRID --
*/
header {
  grid-area: header;
  background: #DDDDDD;
}

nav {
  grid-area: nav;
  background: #eeedec;
}

main {
  grid-area: main;
  background: #293238
}

footer {
  grid-area: footer;
  background: #DDDDDD;
}

body {
  display: grid;
  grid-template-areas:
  'header'
  'nav'
  'main'
  'footer';
  margin: 0px;
}

img {
  width: 100%;
  margin-bottom: 5px;
}

/*
  -- HEADER --
*/
.top-header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 10px;
  gap: 10px;
  align-items: center;
}

.header-content a {
  margin-left: 15px;
}

.logo {
  width: 140px;
  margin-top: 5px;
}

.cart-icon, .profile-icon {
  color: #11204a;
}

/*
  -- BUTTONS --
*/
.button {
  background-color: #1de9b6;
  padding: 5px 12px;
  border: 2px solid;
  border-color: #1de9b6;
  border-radius: 5px;
  margin: 0px;
}

.sign-up, .log-in {
  color: #1de9b6;
  background-color: #11204a;
  border-color: #11204a;
}

.button:hover {
  background-color: #eeedec;
  color: #11204a;
}

.sign-up:hover, .log-in:hover {
  background-color: #eeedec;
  color: #11204a;
  border: 2px solid;
}

/*
  -- NAV --
*/
.navbar {
  padding: 2px 0px;
}

.navbar ul {
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0px 20px;
  list-style-type: none;
}

#hamburger-menu, .fa-bars {
  display: none;
}

/*
  -- SEARCH BAR --
*/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.search-icon {
  color: #eeedec;
  margin-left: 15px;
}

.search-bar {
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 40px;
  padding-left: 5px;
}

textarea:focus, input:focus{
  outline: none;
}

.top-header, .main-content, .footer-content {
  margin: 0px 100px;
}

/*filters line*/
.filters {
  display: grid;
  grid-template-columns: repeat(7, auto) 1fr;
  font-size: 0.8em;
}

.filters div {
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.filters_line {
  border-right: 2px solid;
  padding-right: 10px;
}

.filters p, .sort-by input {
  margin-left: 5px;
}

.remove-filters {
  opacity: 70%;
}

#filters-box, .filter-label {
  display: none;
}

/*
  -- MAIN, PRODUCTS --
*/
h1 {
  border-bottom: 3px solid;
  max-width: 30%;
  padding-bottom: 5px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 120px;
  margin: 40px 0px;
}

.products h2, .products a {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0px;
}

.products p {
  margin: 3px 0px;
  opacity: 80%;
}

.products a {
  color: #eeedec
}

.products .price {
  margin-top: 10px;
  opacity: 100%;
  font-weight: 600;
  font-size: 1.2em;
}

.products_buy {
  display: grid;
  grid-template-columns: 1fr auto;
}

/*
  -- FOOTER --
*/
.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto;
  margin-top: 10px;
}

.information h3{
  margin: 0px;
}

.contact-info a, .information h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.contact-info {
  display: grid;
  grid-template-rows: 0.5fr, repeat(3, 1fr);
}

.contact-method {
  display: flex;
}

.contact-method i{
  margin-right: 5px;
}

.contact-method p{
  margin: 5px 0px;
}

.information p{
  line-height: 70%;
}

.logo-copyright {
  display: grid;
  grid-template-rows: 1fr, auto;
  justify-items: center;
}

@media only screen and (max-width: 1300px) {

  .top-header, .main-content, .footer-content {
    margin: 0px 40px;
  }

  .footer-content {
    margin-top: 10px;
  }

  .products {
    column-gap: 60px;
  }

  .products a, .products h2 {
    font-size: 1em;
  }

  .products div p {
    font-size: 0.8em;
  }

  #filters-box, .filter-label {
    display: none;
  }
}

@media only screen and (min-width: 501px) and (max-width: 900px) {

  h1 {
    max-width: 70%;
  }

  /*filters*/
  .filters {
    display: none;
    position: absolute;
    background-color: #DDDDDD;
    color: #293238;
    border: 2px solid;
    border-color: #1de9b6;
    padding: 5px 10px;
  }

  #filters-box:checked ~ .filters, .filter-label {
    display: block;
  }

  .filter-label {
    border: 2px solid;
    border-color: #1de9b6;
    background-color: #dddddd;
    color:#293238;
    padding: 3px;
    max-width: 7em;
  }

  #used, #new {
    margin-right: 5px;
  }

  .filters p, .filters div:nth-child(2),
  .filters div:nth-child(3) {
    margin: 5px 2px;
  }

  /*main*/
  .products {
    grid-template-columns: 1fr 1fr;
    margin: 20px 50px;
    row-gap: 2em;
  }
}

/*
-- SMALL SCREEN --
*/
@media only screen and (max-width: 500px) {

  h1 {
    max-width: 80%;
  }

  /*filters*/
  .filters {
    display: none;
    position: absolute;
    background-color: #DDDDDD;
    color: #293238;
    border: 2px solid;
    border-color: #1de9b6;
    padding: 5px 10px;
  }

  #filters-box:checked ~ .filters, .filter-label {
    display: block;
  }

  .filter-label {
    border: 2px solid;
    border-color: #1de9b6;
    background-color: #dddddd;
    color:#293238;
    padding: 3px;
    max-width: 7em;
  }

  #used, #new {
    margin: 0px 5px 0px 0px;
  }

  .filters p, .filters div:nth-child(2),
  .filters div:nth-child(3) {
    margin: 5px 2px;
  }

  /*main*/
  .products {
    grid-template-columns: 1fr;
    margin: 20px 60px;
    row-gap: 2em;
  }
}