:root {
  --black-text: #040b17;
  --green: #1de9b6;
  --white: #eeedec;
  --dark-blue: #11204a;
  --background-grey: #293238;
  --light-grey: #dddddd;
}

img {
  width: 100%;
}

/*
  -- HEADER --
*/
.top-header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 10px;
  gap: 10px;
  align-items: center;
}

.header-content a {
  margin-left: 15px;
}

.logo {
  width: 140px;
  margin-top: 5px;
}

.cart-icon, .profile-icon {
  color: var(--dark-blue);
}

.top-header, .main-content, .footer-content {
  margin: 0px 100px;
}

/*
  -- BUTTONS --
*/
.button {
  background-color: var(--green);
  padding: 5px 12px;
  border: 2px solid;
  border-color: var(--green);
  border-radius: 5px;
  margin: 0px;
  color: var(--black-text);
}

.sign-up, .log-in {
  color: #1de9b6;
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.button:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}

.sign-up:hover, .log-in:hover {
  background-color: var(--white);
  color: var(--dark-blue);
  border: 2px solid;
}

/*
  -- NAV --
*/
.navbar {
  padding: 2px 0px;
}

.navbar ul {
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0px 20px;
  list-style-type: none;
}

#hamburger-menu, .fa-bars {
  display: none;
}

/*
  -- FOOTER --
*/
.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) auto;
  margin-top: 10px;
}

.information h3 {
  margin: 0px;
}

.contact-info a, .information h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.contact-info {
  display: grid;
  grid-template-rows: 0.5fr, repeat(3, 1fr);
}

.contact-method {
  display: flex;
}

.contact-method i {
  margin-right: 5px;
}

.contact-method p {
  margin: 5px 0px;
}

.information p {
  line-height: 70%;
}

.logo-copyright {
  display: grid;
  grid-template-rows: 1fr, auto;
  justify-items: center;
}